//  Variables 
$primary: #222B56;
$secondary: #707070;
$white: #fff;

$font-pop: 'Poppins', sans-serif;

$fs-xlll: 3.75rem;
$fs-xll: 3.125rem;
$fs-xl: 2.3rem;
$fs-lg: 1.75rem;
$fs-md: 1.1rem;
$fs-sm: 1rem;
$fs-xs: 0.69rem;

$fw-200: 200;
$fw-300: 300;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
